[submodule "uSockets"]
	path = uSockets
	url = https://github.com/uNetworking/uSockets.git
[submodule "fuzzing/libEpollFuzzer"]
	path = fuzzing/libEpollFuzzer
	url = https://github.com/uNetworking/libEpollFuzzer
[submodule "libdeflate"]
	path = libdeflate
	url = https://github.com/ebiggers/libdeflate
