CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
examples/CMakeFiles/
examples/Makefile
examples/cmake_install.cmake
build/

nodejs/build/
node_modules/

# .npmignore specific

nodejs/tests/
nodejs/misc/

autobahn/
benchmarks/
examples/
ssl/
tests/
