<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="openssl.v140.windesktop.msvcstl.static.rt-dyn" version="1.0.2.1" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.static.rt-dyn.x64" version="1.0.2.1" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.static.rt-dyn.x86" version="1.0.2.1" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.static.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>