name: C++ CI

on: [push]

jobs:
  build_linux:

    runs-on: ubuntu-20.04
    
    steps:
    - name: Clone source
      run: git clone --recursive https://github.com/uNetworking/uWebSockets.git
    - name: Build source
      run: make -C uWebSockets
      
      
  build_osx:

    runs-on: macos-latest
    
    steps:
    - name: Clone source
      run: git clone --recursive https://github.com/uNetworking/uWebSockets.git
    - name: Build source
      run: make -C uWebSockets
      
